body {
	font-family: georgia, "times new roman", times, serif;
	font-size: 62.5%;
	background-color: #232323;
	color: #fff;
}

h1 {
	font-family: arial, helvetica, sans-serif;
	font-size: 3.5em;	
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
	padding: 35px 0;
	margin: 10px 0;
	background-color: #000;
	border: 1px solid #232323;
}

h1 a {
	color: #fff;	
	border: 0;
}

a {
	text-decoration: none;	
}

#container {
	height: 100%;
	overflow: hidden;
	background-color: #000;
}